@use '../../styles/mixins' as mixins;
@use '../../styles/variable.scss' as variable;
$font-size-base: 16px;
$font-size-title: 24px;
$font-size-subtitle: 18px;

.preference-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 600px;
    margin: 0 auto;

    .select-wrapper {
        position: relative;
        width: 100%;
        max-width: 400px;

        &::after {
            content: '';
            position: absolute;
            right: 15px;
            top: 50%;
            transform: translateY(-50%);
            background-image: url('../../assets/arrow.svg');
            width: 15px;
            height: 15px;
            background-repeat: no-repeat;
            background-position: center center;
            pointer-events: none;
        }
    }

    .age-preference {
        display: flex;
        justify-content: center;
        gap: 10px;
        width: 100%;
        max-width: 400px;
    }

    .birth-date {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        max-width: 400px;

        @media (min-width: 600px) {
            flex-direction: row;
        }
    }

    .disclaimer {
        font-family: variable.$inter;
        font-weight: 400;
        font-size: 1em;
        color: variable.$text-color;
        margin: 16px 0 24px 0;
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
        line-height: 24px;
    }
}