.slider {
    padding: 12px 0 0 0;

    .slider-item {
        width: auto;
        scroll-snap-align: center;

        img {
            width: 80px;
            height: 80px;
            object-fit: cover;
            object-position: top;
            border-radius: 8px;
        }
    }

    @media (min-width: 600px) {
        max-width: 447px;
    }
}