// Colors
$white: #ffffff;
$black: #000000;
$text-color: #333;
$color2: #353538;
$card-background: #D5F5E3;

$button-color: #111212;
$button-bg: #150954;

$logo-txt-color1: #003600;
$logo-txt-color2: #332f00;

//Fonts
$poppins: 'Poppins', sans-serif;
$inter: 'Inter', sans-serif;